<div class="container">
	<div class="col-md-3 sidebar_box">
		<%= render "layouts/left" %> 
		<%= render "layouts/leftbot" %>    
	</div> 
	<div class="col-md-9 content_right">
	   	<div class="top_grid1">
	     <div class="col-md-4 box_2">
	     	
    		<%= render "layouts/productoldnew" %>
	     	
	     </a></div>
	    <%= render "layouts/productnew" %> 
	     <div class="clearfix"> </div>
	    </div> 
	    <div class="top_grid2">
	    <% @products.each do |product|%>
	      <div class="col-md-4 top_grid1-box1"><a href=<%= product_path(product)%>>
	     	<div class="grid_1">
	     	  <div class="b-link-stroke b-animate-go  thickbox">
		        <img src=<%=image_path("p3.jpg")%> class="img-responsive" alt=""/> </div>
	     	  <div class="grid_2">
	     	  	<p><%= product.title%></p>
	     	  	<ul class="grid_2-bottom">
	     	  		<li class="grid_2-left"><p><%= product.price %></p></li>
	     	  		<li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
	     	  		<div class="clearfix"> </div>
	     	  	</ul>
	     	  </div>
	     	</div>
	     </a></div>
	     <% end %>
	     <div class="clearfix"> </div>
	    </div> 
	    <h4 class="head"><span class="m_2">Popular</span> Products Now</h4>
	    <div class="top_grid2">
	    <% @products.each do |product|%>
	     <div class="col-md-4 top_grid1-box1"><a href=<%= product_path(product)%>>
	     	<div class="grid_1">
	     	  <div class="b-link-stroke b-animate-go  thickbox">
		        <img src=<%=image_path("p9.jpg")%> class="img-responsive" alt=""/> </div>
	     	  <div class="grid_2">
	     	  	<p><%= product.title%></p>
	     	  	<ul class="grid_2-bottom">
	     	  		<li class="grid_2-left"><p>$99<small>.33</small></p></li>
	     	  		<li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
	     	  		<div class="clearfix"> </div>
	     	  	</ul>
	     	  </div>
	     	</div>
	    </a> </div>
	    <% end %>
	     <div class="clearfix"> </div>
	    </div> 
    </div>
</div>  	  