<!DOCTYPE HTML>
<html>
<head>
<title>X88 - Fashion for men</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Thoi trang nam, quan ao nam, quần nam đẹp, áo quần nam giá rẻ, thời trang nam giá rẻ, Fashion for men" />
<link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
</script>

</head>
<body>
<%= render "layouts/header" %>
<%= render "layouts/slider" %>
<div class="column_center">
  <div class="container">
	<%= render "layouts/search" %>
    <div class="clearfix"> </div>
  </div>
</div>
<div class="main">
  <div class="content_top">
  	<%= yield %>
  </div>
</div>
<div class="footer_bg">
</div>
<div class="footer">
	<%= render "layouts/footer" %>
</div>
<div class="footer_bottom">
   	<%= render "layouts/footerbot" %>
</div>
</body>
</html>		